@page
@using SneakerShopCassandra.Pages.Users;
@model DetailsModel

<h1>My Profile</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.CreatedDate)
        </dd>
    </dl>
    <div class="row mb-3">
        <div class="col-sm-3 d-grid">
            <a class="btn btn-primary" href="/Orders/MyOrders">My orders</a>
        </div>
    </div>
    <form method="POST">
        <div class="row mb-3">
            <div class="col-sm-3 d-grid">
                <button type="submit" class="btn btn-secondary">Log out</button>
            </div>
        </div>
    </form>
    <div class="row mb-3">
        <div class="col-sm-3 d-grid">
            <a class="btn btn-warning" href="/Users/Edit?id=@HttpContext.Session.GetString("UserID")">Edit profile</a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3 d-grid">
            <a class="btn btn-danger" href="/Users/Delete?id=@HttpContext.Session.GetString("UserID")">Delete profile</a>
        </div>
    </div>
</div>
